<%- include('partials/header') %>
<div class="card narrow" style="text-align:center">
  <h1 class="disp" style="font-size:2.4rem"><%= code %></h1>
  <p><%= message %></p>
  <a class="btn" href="/">Go home</a>
</div>
<%- include('partials/footer') %>
