<%- include('partials/header') %>
<section class="panel narrow">
  <h1 class="display"><%= code %></h1>
  <p><%= message %></p>
  <p><a class="btn" href="/">Go to home</a></p>
</section>
<%- include('partials/footer') %>
